.text-center {
  text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.link {
  flex-basis: 20%;
  text-decoration: none;
  background-color: slategrey;
  color: white;
  height: 30px;
  line-height: 30px;
}

.active-link {
  background-color: slateblue;
}

.link:not(.active-link):hover {
  background-color: steelblue;
}

.main-container {
  width: 90%;
  margin: 10px auto;
}

.footer {
  margin: 2px;
  border-top: 2px solid slateblue;
  background-color: slategray;
  color: white;
  height: 62px;
}
